<!DOCTYPE html>
<html lang="en">
{{> header title="Learnosity Grading Demo"}}
<body class="bg-gray-100 min-h-screen py-8">
    <div class="max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold text-center mb-8">Learnosity Grading</h1>
        ssss
        {{> panel 
            headerId="config-header" 
            contentId="config-content" 
            title="Configuration" 
            contentPartial="config-form" 
            initialState="visible" 
            marginBottom=true
        }}
        
        {{> notification}}
        
        <div id="manual-grading" class="max-w-4xl mx-auto mb-8">
            {{> panel 
                headerId="attach-header" 
                contentId="attach-content" 
                title="Attach Items" 
                contentPartial="attach-form" 
                initialState="visible" 
                marginBottom=true
            }}
            
            {{> panel 
                headerId="items-header" 
                contentId="inline-items-wrapper" 
                title="Grading Items" 
                contentPartial="grading-items" 
                initialState="visible"
            }}
        </div>
        
        {{> panel 
            headerId="help-header" 
            contentId="help-content" 
            title="Help & Documentation" 
            contentPartial="help-content" 
            initialState="hidden" 
            marginBottom=true
        }}
    </div>
</body>
</html>